@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.review_section {
  padding: 0 4rem 6.25rem;

  @include onTablet {
    padding: 0 1.5rem 4rem;
  }
}

.swiper {
  margin-bottom: 1rem;
}

.swiper_next,
.swiper_prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &:hover {
    background-color: $orange-secondary-100;
  }

  &:hover path {
    fill: #f8f8f8;
  }
}

.buttons_container {
  display: flex;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  @include onDesktop {
    justify-content: center;
  }
}
