.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__content {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 1em auto;
    border: 0.1em solid #ffffff;
    border-left-color: #374a57;
    animation: load8 1.2s infinite linear;
  }

  &.biggest {
    width: 1.8em;
    height: 1.8em;
    .loader__content {
      width: 1.8em;
      height: 1.8em;
    }
  }

  &.zIndex {
    z-index: 1;
  }

  &.absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
