@import '../../styles/mixins.scss';

.text_container {
  position: relative;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onDesktop {
    width: 55%;
  }

  &_desc {
    padding-top: 13rem;

    @include onDesktop {
      padding-top: 8rem;
    }

    @include onTablet {
      max-width: 45rem;
      margin: 0 auto;
      padding-top: 3.5rem;
      z-index: 1;
    }

    @include onSmall {
      padding-top: 1.25rem;
    }

    & > p {
      padding-bottom: 0.5rem;
    }

    &__even {
      width: 125%;
      transform: translate(-25%);
      z-index: 2;

      @include onDesktop {
        width: 100%;
        transform: translate(0);
      }
    }
  }

  @include onTablet {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  @include onMobile {
    padding-bottom: 2rem;
  }

  @include onSmall {
    padding-bottom: 1rem;
  }
}

.logo {
  display: flex;
  justify-content: flex-end;
}
