@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.form_group {
  position: relative;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: $white;
  border: 1px solid $gray-20;
  background-color: transparent;
  margin-bottom: 2rem;
  outline: none;

  &__textarea {
    height: 11rem;

    &::placeholder {
      color: $white;
      font-family: var(--font-roboto);
    }
  }

  &:focus {
    border: 1px solid $orange-secondary-100;

    & + .label {
      top: 0;
      color: $white;
      font-size: 0.75rem;
    }
  }
}

.label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease-out;
  color: $gray-20;
  background-color: $gray-primary;
}
