@import '../../../styles/mixins.scss';
@import '../../../styles/var.scss';

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: rem(80);

  .ant-table {
    border: rem(1) solid $gray-20;
    border-radius: rem(8);
    overflow: hidden;
  }
}

.crmYachtsTable {
  thead {
    tr {
      th {
        padding-top: rem(6.5) !important;
        padding-bottom: rem(6.5) !important;
        color: $white !important;
        font-size: rem(16);
        font-weight: 500 !important;

        &::before {
          display: none;
        }

        &.ant-table-cell {
          background: $orange-secondary-100 !important;
        }

        &.ant-table-column-sort {
          background-color: $orange-secondary-110 !important;
        }

        .ant-table-column-sorter-up,
        .ant-table-column-sorter-down {
          color: $white;

          &.active {
            color: $gray-primary;
          }
        }
      }
    }
  }

  tr {
    td {
      font-size: rem(16);
      font-weight: 400;
      padding: rem(8);
      text-align: left;
      position: relative;
    }
  }
}

.ant-pagination {
  a {
    font-size: rem(24);
    font-weight: 400;
    color: $gray-primary !important;
    line-height: 1;
  }
  .ant-pagination-item-active {
    border-color: $orange-secondary-110;

    a {
      font-size: rem(24);
      font-style: normal;
    }

    &:hover {
      border-color: $orange-secondary-110;
    }
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  gap: rem(8);

  .buttonAction {
    height: rem(48);
    width: rem(48);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' fill='white'/%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%234D6575'/%3E%3Cg clip-path='url(%23clip0_4532_1725)'%3E%3Cpath d='M30.656 12.9301L18.464 25.1221C17.9984 25.5852 17.6292 26.1361 17.3779 26.7429C17.1266 27.3497 16.9982 28.0003 17 28.6571V30.0001C17 30.2653 17.1054 30.5196 17.2929 30.7072C17.4804 30.8947 17.7348 31.0001 18 31.0001H19.343C19.9998 31.0019 20.6504 30.8735 21.2572 30.6222C21.864 30.3709 22.4149 30.0017 22.878 29.5361L35.07 17.3441C35.6544 16.7582 35.9826 15.9645 35.9826 15.1371C35.9826 14.3096 35.6544 13.5159 35.07 12.9301C34.4757 12.362 33.6852 12.0449 32.863 12.0449C32.0408 12.0449 31.2503 12.362 30.656 12.9301ZM33.656 15.9301L21.464 28.1221C20.9001 28.6825 20.138 28.998 19.343 29.0001H19V28.6571C19.0021 27.8621 19.3176 27.0999 19.878 26.5361L32.07 14.3441C32.2836 14.14 32.5676 14.0262 32.863 14.0262C33.1584 14.0262 33.4424 14.14 33.656 14.3441C33.866 14.5546 33.9839 14.8398 33.9839 15.1371C33.9839 15.4344 33.866 15.7196 33.656 15.9301Z' fill='%234D6575'/%3E%3Cpath d='M35 20.979C34.7348 20.979 34.4804 21.0844 34.2929 21.2719C34.1054 21.4594 34 21.7138 34 21.979V27H30C29.2044 27 28.4413 27.3161 27.8787 27.8787C27.3161 28.4413 27 29.2044 27 30V34H17C16.2044 34 15.4413 33.6839 14.8787 33.1213C14.3161 32.5587 14 31.7957 14 31V17C14 16.2044 14.3161 15.4413 14.8787 14.8787C15.4413 14.3161 16.2044 14 17 14H26.042C26.3072 14 26.5616 13.8946 26.7491 13.7071C26.9366 13.5196 27.042 13.2652 27.042 13C27.042 12.7348 26.9366 12.4804 26.7491 12.2929C26.5616 12.1054 26.3072 12 26.042 12H17C15.6744 12.0016 14.4036 12.5289 13.4662 13.4662C12.5289 14.4036 12.0016 15.6744 12 17L12 31C12.0016 32.3256 12.5289 33.5964 13.4662 34.5338C14.4036 35.4711 15.6744 35.9984 17 36H28.343C28.9999 36.0019 29.6507 35.8735 30.2576 35.6222C30.8646 35.3709 31.4157 35.0017 31.879 34.536L34.535 31.878C35.0008 31.4149 35.37 30.864 35.6215 30.2572C35.873 29.6504 36.0016 28.9998 36 28.343V21.979C36 21.7138 35.8946 21.4594 35.7071 21.2719C35.5196 21.0844 35.2652 20.979 35 20.979ZM30.465 33.122C30.063 33.523 29.5547 33.8006 29 33.922V30C29 29.7348 29.1054 29.4804 29.2929 29.2929C29.4804 29.1054 29.7348 29 30 29H33.925C33.8013 29.5535 33.524 30.0609 33.125 30.464L30.465 33.122Z' fill='%234D6575'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4532_1725'%3E%3Crect width='24' height='24' fill='white' transform='translate(12 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat center/cover;
    display: block;

    &:nth-of-type(2) {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%23D41A11'/%3E%3Cg clip-path='url(%23clip0_4532_1720)'%3E%3Cpath d='M33 16H29.9C29.6679 14.8714 29.0538 13.8573 28.1613 13.1287C27.2687 12.4001 26.1522 12.0015 25 12L23 12C21.8478 12.0015 20.7313 12.4001 19.8387 13.1287C18.9462 13.8573 18.3321 14.8714 18.1 16H15C14.7348 16 14.4804 16.1054 14.2929 16.2929C14.1054 16.4804 14 16.7348 14 17C14 17.2652 14.1054 17.5196 14.2929 17.7071C14.4804 17.8946 14.7348 18 15 18H16V31C16.0016 32.3256 16.5289 33.5964 17.4662 34.5338C18.4036 35.4711 19.6744 35.9984 21 36H27C28.3256 35.9984 29.5964 35.4711 30.5338 34.5338C31.4711 33.5964 31.9984 32.3256 32 31V18H33C33.2652 18 33.5196 17.8946 33.7071 17.7071C33.8946 17.5196 34 17.2652 34 17C34 16.7348 33.8946 16.4804 33.7071 16.2929C33.5196 16.1054 33.2652 16 33 16ZM23 14H25C25.6203 14.0008 26.2251 14.1934 26.7316 14.5514C27.2381 14.9095 27.6214 15.4155 27.829 16H20.171C20.3786 15.4155 20.7619 14.9095 21.2684 14.5514C21.7749 14.1934 22.3797 14.0008 23 14ZM30 31C30 31.7956 29.6839 32.5587 29.1213 33.1213C28.5587 33.6839 27.7956 34 27 34H21C20.2044 34 19.4413 33.6839 18.8787 33.1213C18.3161 32.5587 18 31.7956 18 31V18H30V31Z' fill='%23D41A11'/%3E%3Cpath d='M22 29.9995C22.2652 29.9995 22.5196 29.8941 22.7071 29.7066C22.8946 29.5191 23 29.2647 23 28.9995V22.9995C23 22.7343 22.8946 22.4799 22.7071 22.2924C22.5196 22.1049 22.2652 21.9995 22 21.9995C21.7348 21.9995 21.4804 22.1049 21.2929 22.2924C21.1054 22.4799 21 22.7343 21 22.9995V28.9995C21 29.2647 21.1054 29.5191 21.2929 29.7066C21.4804 29.8941 21.7348 29.9995 22 29.9995Z' fill='%23D41A11'/%3E%3Cpath d='M26 29.9995C26.2652 29.9995 26.5196 29.8941 26.7071 29.7066C26.8947 29.5191 27 29.2647 27 28.9995V22.9995C27 22.7343 26.8947 22.4799 26.7071 22.2924C26.5196 22.1049 26.2652 21.9995 26 21.9995C25.7348 21.9995 25.4804 22.1049 25.2929 22.2924C25.1054 22.4799 25 22.7343 25 22.9995V28.9995C25 29.2647 25.1054 29.5191 25.2929 29.7066C25.4804 29.8941 25.7348 29.9995 26 29.9995Z' fill='%23D41A11'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4532_1720'%3E%3Crect width='24' height='24' fill='white' transform='translate(12 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        no-repeat center/cover;
    }
  }
}

.emailCol {
  .buttonEmailCopy {
    position: absolute;
    right: rem(15);
    height: rem(24);
    width: rem(24);
    transition: 0.15s ease;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6466_3888)'%3E%3Cpath d='M15 20H5C3.67441 19.9984 2.40356 19.4711 1.46622 18.5338C0.528882 17.5964 0.00158786 16.3256 0 15L0 5C0.00158786 3.67441 0.528882 2.40356 1.46622 1.46622C2.40356 0.528882 3.67441 0.00158786 5 0L15 0C16.3256 0.00158786 17.5964 0.528882 18.5338 1.46622C19.4711 2.40356 19.9984 3.67441 20 5V15C19.9984 16.3256 19.4711 17.5964 18.5338 18.5338C17.5964 19.4711 16.3256 19.9984 15 20ZM5 2C4.20435 2 3.44129 2.31607 2.87868 2.87868C2.31607 3.44129 2 4.20435 2 5V15C2 15.7956 2.31607 16.5587 2.87868 17.1213C3.44129 17.6839 4.20435 18 5 18H15C15.7956 18 16.5587 17.6839 17.1213 17.1213C17.6839 16.5587 18 15.7956 18 15V5C18 4.20435 17.6839 3.44129 17.1213 2.87868C16.5587 2.31607 15.7956 2 15 2H5ZM24 19V6C24 5.73478 23.8946 5.48043 23.7071 5.29289C23.5196 5.10536 23.2652 5 23 5C22.7348 5 22.4804 5.10536 22.2929 5.29289C22.1054 5.48043 22 5.73478 22 6V19C22 19.7956 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7956 22 19 22H6C5.73478 22 5.48043 22.1054 5.29289 22.2929C5.10536 22.4804 5 22.7348 5 23C5 23.2652 5.10536 23.5196 5.29289 23.7071C5.48043 23.8946 5.73478 24 6 24H19C20.3256 23.9984 21.5964 23.4711 22.5338 22.5338C23.4711 21.5964 23.9984 20.3256 24 19Z' fill='%23081433'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6466_3888'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat center/cover;
    visibility: hidden;
    opacity: 0;
  }
  &:hover {
    .buttonEmailCopy {
      opacity: 1;
      visibility: visible;
    }
  }
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: rem(8);
  width: rem(56);
  height: rem(56);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skeletonAntd {
  width: rem(56) !important;
  height: rem(56) !important;
}
