@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: $black;
  z-index: 2;

  @include onTablet {
    padding: 1rem;
  }

  &__closeButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    color: $white;
  }

  &__slider {
    color: $white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    font-family: var(--font-baiJamjuree);
    color: $white;
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;

    @include onMobile {
      font-size: 1.5rem;
      padding: 0;
    }
  }
}
