@import '../../../styles/var.scss';

.form {
  position: absolute;
  top: 0.8rem;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;;

  min-width: 310px;
  padding: 1.5rem 1.25rem;

  border: 1px solid $gray-80;
  border-radius: 1rem;

  z-index: 2;
  opacity: 1;
  overflow: hidden;

  background-color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  color: $black;
  font-size: 1.5rem;
}

.container {
  padding-right: 1.5rem;;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: $gray-20;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $orange-secondary-100;
    border-radius: 5px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.buttons {
  display: flex;
  gap: 1.5rem;
}

.button {
  color: $white;
  font-weight: 500;
  font-size: 1.1rem;

  background-color: $gray-primary;
  width: 100%;
  height: 3.125rem;
  border-radius: 3.5rem;
  transition: 0.6s ease-in;

  &:hover {
    background-color: #fff;
    border: 1px solid $gray-primary;
    color: $gray-primary;
  }
}

//Accordion

.accordion {
  border: none;
}

.accordionHeader>button {
  padding: 0;
  
  &::after {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../public/icons/Arrowdown.svg') no-repeat center/cover;
  }

  &:not(.collapsed) {
    height: 24px;
    color: $gray-primary;
    background-color: $white;
    box-shadow: none;

    &::after {
      width: 1.5rem;
      height: 1.5rem;
      background: url('../../../public/icons/Arrowdown.svg') no-repeat center/cover;
    }
  }

  &:hover {
    color: $black;
  }

  &:focus {
    box-shadow: none;
  }
}

.accordionBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 0;
  margin-top: 1.5rem;
}

//Accordion
