@import '@/styles/var.scss';
@import '@/styles/mixins.scss';

.navbar {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;

  &__side {
    display: flex;
    position: relative;
    align-items: center;
    width: 45%;

    &:last-child {
      justify-content: flex-end;
    }
  }

  @include onTablet {
    padding: 1rem 1.25rem;
  }
}

.link {
  color: $black;
  font-size: 1.125rem;
  padding: rem(6) 0;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }

  &:hover {
    color: $orange-secondary-100;
    text-decoration: underline;
  }
}

.userLoggedNavLink {
  position: relative;
  &:hover {
    .userLoggedNavLink__subMenu {
      visibility: visible;
      opacity: 1;
    }
  }

  &__subMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    width: rem(130);
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: rem(16);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: rem(16);
    list-style: none;
    transition: 0.5s ease;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(8) rem(16);
    &:hover {
      border-bottom: 1px solid $gray-primary;

      button {
        color: $orange-secondary-100;
      }
    }
    button {
      font-weight: 400;
      font-size: rem(16);
      padding: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.account_icon {
  height: 24px;
  width: 24px;
  background: url('../../public/icons/user.svg') no-repeat center/cover;
}

.favourite_popup {
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    height: 20px;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_4315_1719)'%3E%3Cpath d='M11.5625 5.45863L12 6.24902L12.4374 5.45863C12.9402 4.55028 13.6737 3.79067 14.564 3.25652C15.45 2.7249 16.4601 2.43534 17.493 2.41669C19.1506 2.4926 20.7115 3.21943 21.8366 4.43966C22.9649 5.66351 23.5631 7.2842 23.5003 8.94765L23.5 8.95707V8.9665C23.5 11.0755 22.3831 13.3449 20.7074 15.5461C19.0406 17.7355 16.8716 19.7917 14.8786 21.4634L14.8783 21.4637C14.0722 22.1411 13.0529 22.5125 12 22.5125C10.947 22.5125 9.92776 22.1411 9.12163 21.4637L9.12129 21.4634C7.1283 19.7917 4.95928 17.7355 3.29254 15.5461C1.6168 13.3449 0.499958 11.0755 0.499958 8.9665V8.95707L0.499603 8.94765C0.436834 7.2842 1.03497 5.66351 2.16334 4.43966C3.28838 3.21943 4.84933 2.4926 6.50691 2.41669C7.53986 2.43534 8.54991 2.7249 9.43595 3.25652C10.3262 3.79067 11.0597 4.55028 11.5625 5.45863ZM14.237 20.699L14.415 20.5491V20.5451C16.9214 18.4252 18.9133 16.3371 20.2914 14.4032C21.6892 12.4415 22.4954 10.5825 22.4999 8.98003C22.5716 7.5876 22.0917 6.22279 21.1639 5.18156C20.2331 4.13699 18.927 3.50284 17.5305 3.41744L17.5 3.41557L17.4694 3.41744C16.0729 3.50284 14.7668 4.13699 13.836 5.18156C12.9088 6.22212 12.4289 7.58586 12.4998 8.97736C12.497 9.10604 12.4447 9.22885 12.3535 9.32006C12.2597 9.41383 12.1326 9.4665 12 9.4665C11.8673 9.4665 11.7402 9.41383 11.6464 9.32006C11.5552 9.22885 11.5029 9.10604 11.5001 8.97736C11.571 7.58586 11.0911 6.22212 10.1639 5.18156C9.23308 4.13699 7.92699 3.50284 6.53048 3.41744L6.49996 3.41557L6.46944 3.41744C5.07292 3.50284 3.76683 4.13699 2.83602 5.18156C1.9082 6.22279 1.42829 7.58761 1.49998 8.98004C1.50449 10.5825 2.31069 12.4415 3.70848 14.4036C5.11906 16.3837 7.17287 18.5258 9.76324 20.6992C10.3893 21.2264 11.1815 21.5154 12 21.5154C12.8186 21.5154 13.6109 21.2262 14.237 20.699Z' fill='%234D6575' stroke='%234D6575'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4315_1719'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat center/cover;

    &_login {
      height: 20px;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 17' fill='none'%3E%3Cg clip-path='url(%23clip0_6671_1052)'%3E%3Cpath d='M11.666 1.77783C10.9153 1.78951 10.181 1.99907 9.53716 2.38535C8.89336 2.77162 8.3629 3.32094 7.99932 3.97783C7.63575 3.32094 7.10528 2.77162 6.46148 2.38535C5.81768 1.99907 5.08335 1.78951 4.33265 1.77783C3.13595 1.82983 2.00846 2.35333 1.19651 3.23399C0.384561 4.11464 -0.0458459 5.28085 -0.000678848 6.47783C-0.000678848 9.50916 3.18999 12.8198 5.86599 15.0645C6.46347 15.5666 7.21889 15.8418 7.99932 15.8418C8.77975 15.8418 9.53518 15.5666 10.1327 15.0645C12.8087 12.8198 15.9993 9.50916 15.9993 6.47783C16.0445 5.28085 15.6141 4.11464 14.8021 3.23399C13.9902 2.35333 12.8627 1.82983 11.666 1.77783Z' fill='%234D6575'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6671_1052'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        no-repeat center/cover;
      position: relative;

      span {
        position: absolute;
        right: rem(-8);
        bottom: rem(-4);
        font-weight: 400;
        font-size: rem(12);
      }

      &:hover {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
          no-repeat center/cover;
      }
    }

    &_loginActive {
      height: 20px;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        no-repeat center/cover;
    }

    &_notLoginActive {
      height: 20px;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        no-repeat center/cover;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    @include onDesktop {
      width: 10.6rem;
      height: auto;
    }

    @include onSmall {
      width: 7.5rem;
      height: auto;
    }
  }
}
