@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.feature_section {
  margin: 6.25rem 0 0;

  @include onDesktop {
    margin: 4rem 0 0;
  }

  @include onTablet {
    margin: 2.5rem 0 0;
  }

  @include onSmall {
    margin: 2rem 0 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: baseline;

  & h4 {
    @include onTablet {
      margin-right: 0.8rem;
    }
  }

  & h5 {
    transform: translate(-40%, 90%);

    @include onTablet {
      transform: translate(0, 0);
    }
  }
}

.seeall {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;

  @include onTablet {
    margin-right: 1.25rem;
  }
}

.cards_container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
  flex-wrap: wrap;

  @include onTablet {
    padding: 2rem 1.25rem;
  }

  @include onTablet {
    padding: 1.5rem 1.25rem;
  }
}
