@import '../../styles/mixins.scss';

.image_container {
  position: relative;
  height: 41rem;
  width: 68%;

  @include onDesktop {
    width: 44%;
    height: 32rem;
  }

  @include onTablet {
    width: 100%;
    height: 25rem;
  }

  @include onSmall {
    height: 12rem;
  }
}

.image {
  object-fit: cover;
}