@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-7xl sm:text-8xl xl:text-9xl 2xl:text-[194px] font-bEs text-secondary-100 mb-20;
    line-height: 20%;
  }
  h2 {
    @apply font-baiJ text-4xl sm:text-6xl lg:text-7xl xl:text-8xl 2xl:text-[130px] text-primary font-bold;
  }
  h3 {
    @apply text-primary text-xl sm:text-4xl xl:text-6xl 2xl:text-8xl font-semibold font-baiJ;
  }
  h4 {
    @apply font-baiJ font-semibold text-3xl xl:text-[40px] text-primary;
  }
  h5 {
    @apply text-[80px] xl:text-[100px] font-bEs text-secondary-100;
    line-height: 20%;
  }
  h6 {
    @apply text-[56px] sm:text-8xl xl:text-[180px] 2xl:text-[274px] font-bEs text-secondary-100;
    line-height: 20%;
  }
  p {
    @apply text-base xl:text-2xl xl:leading-9;
  }
  a {
    @apply text-lg font-medium;
  }
  button {
    @apply text-lg;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: transparent;
  }

  input:not(:focus):placeholder-shown + label {
    @apply top-4;
  }

  input:not(:focus):not(:placeholder-shown) + label {
    @apply top-[-0.5rem] scale-75;
  }

  input:focus + label {
    @apply top-[-0.5rem] scale-75;
  }
}

.highlight-second li:nth-child(2) {
  @apply ml-2;
}

/* .input:focus + .label {
  top: 0;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
