@import '../../../styles/mixins.scss';
@import '../../../styles/var.scss';

.modal {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__text {
    font-size: rem(16);
    display: block;
    text-align: center;
    margin-bottom: rem(24);
  }

  &__wrapper {
    width: 100%;
    max-width: 34rem;
    background-color: $white;
    border-radius: 1rem;

    @include onMobile {
      max-width: 100%;
      border-radius: 0;
      overflow: scroll;
    }
  }

  &.open {
    display: flex;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  &__main {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.header {
  color: $gray-primary;
  font-family: var(--font-baiJamjuree);
  font-size: 2.5rem;
  line-height: normal;
  font-weight: 600;

  @include onMobile {
    font-size: 4.5vw;
  }

  @include onSmall {
    font-size: 1.9rem;
  }
}

.form {
  &__password {
    color: $orange-secondary-100;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
  }

  &_terms {
    margin-bottom: 2rem;

    &__link {
      color: $orange-secondary-100;
      text-decoration: none;
      border-bottom: none;
      transition: 0.6s;

      &:hover {
        border-bottom: 1px solid $orange-secondary-100;
      }
    }
  }

  &__button {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;

    background-color: $gray-primary;
    width: 100%;
    height: 3.125rem;
    border-radius: 3.5rem;
    margin-bottom: 0;
    transition: 0.6s ease-in;

    &:hover {
      background-color: #fff;
      border: 1px solid $gray-primary;
      color: $gray-primary;
    }
  }
}

.form_group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: $gray-primary;
  border: 1px solid $gray-100;
  background-color: transparent;
  outline: none;
  transform: background-color 0.6s ease;

  &:focus {
    border: 1px solid $orange-secondary-100;

    & + .label {
      top: 0;
      color: $gray-primary;
      font-size: 0.75rem;
    }
  }

  &__error {
    border-color: $error-color;

    & + .label {
      top: 0;
      color: $gray-primary;
      font-size: 0.75rem;
    }
  }

  &__success {
    border-color: $success-color;

    & + .label {
      top: 0;
      color: $gray-primary;
      font-size: 0.75rem;
    }
  }
}

.label {
  position: absolute;
  top: 1.7rem;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s ease-out;
  font-size: 0.8rem;
  color: $gray-primary;
  background-color: $white;
  padding: 0 0.25rem;

  &__password {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 0.85rem;
    height: 24px;
    width: 24px;
  }
}

.error_message {
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 0.75rem;
  line-height: 1.125;
  color: $error-color;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;

  &__text {
    position: absolute;
    text-align: center;
    width: 10.5rem;
    background-color: #fff;
    color: #67666b;
  }

  &__line {
    margin-top: 1rem;
    border-bottom: 1px solid #a9a9b0;
    width: 100%;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;

  &__container {
    height: 3rem;
    width: 3rem;
    border: 1px solid $gray-primary;
    border-radius: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__facebook {
    height: 2rem;
    width: 2rem;
    background: url('../../../public/icons/facebook.svg') no-repeat center/cover;
  }
  &__google {
    height: 2rem;
    width: 2rem;
    background: url('../../../public/icons/google.svg') no-repeat center/cover;
  }
  &__apple {
    height: 2rem;
    width: 2rem;
    background: url('../../../public/icons/apple.svg') no-repeat center/cover;
  }
}

.account {
  display: flex;
  gap: 1rem;

  &__login {
    cursor: pointer;
    color: $orange-secondary-100;
    transition: 1s ease-in;

    &:hover {
      border-bottom: 1px solid $orange-secondary-100;
    }
  }
  @include onSmallMobile {
    flex-direction: column;
    text-align: center;
  }
}

.eye {
  background-image: url('../../../public/icons/eye.svg');
}

.eyeOff {
  background-image: url('../../../public/icons/eye-crossed.svg');
}
