@import '../../styles/var.scss';

.primary {
  color: $orange-secondary-100;
  transition: 0.7s;

  &:hover {
    color: $orange-secondary-110;
  }

  &:active {
    color: $gray-primary;
  }
}

.secondary {
  color: $white;
  transition: 0.5s;

  &:hover {
    color: $orange-secondary-100;
  }

  &:active {
    color: $orange-secondary-110;
  }
}
