@import '../../../../../styles/var.scss';

.group {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $gray-20;

  &>p {
    color: $gray-primary;
  }
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.box {
  width: 96px;
  height: 44px;
  border: 1px solid $gray-50;
  border-radius: 8px;
  text-align: center;
  outline: none;

  &:focus {
    border-color: $orange-secondary-100;
    box-shadow: none;
  }
}

.dash {
  height: 1px;
  width: 14px;
  background: url('../../../../../public/icons/dash.svg') no-repeat center/cover;
}

.slider {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  height: 24px;
}

.rc-slider-handle:hover {
  box-shadow: 0 0 5px 2px rgba(231, 128, 26, 0.7);
  /* Change this to your desired box-shadow */
}