@import '../../../styles/mixins.scss';
.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.gallerySwiper {
  height: 85%;
  width: 75%;
  cursor: grab;
  border-radius: 1.5rem;

  @include onTablet {
    width: 100%;
  }

  @include onSmall {
    height: 90%;
  }

  &__thumbs {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    cursor: grab;

    @include onTablet {
      display: none;
    }

    &__slides {
      & img {
        border-radius: 0.5rem;
      }
    }
  }
}
