@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.card {
  width: 32.1%;
  margin-bottom: 2.5rem;
  transition:
    transform 0.6s ease,
    border-radius 0.6s ease,
    box-shadow 0.6s ease;

  @include onTablet {
    width: 100%;
  }

  &.adding {
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.7;
    }
  }

  .loader_loader {
    z-index: 1;
  }

  &__desc {
    --columns: 4;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include onTablet {
      text-align: center;
    }
  }

  &__typo {
    grid-column: span 4;

    @include onTablet {
      text-align: left;
    }
  }

  &__name {
    grid-column: span 3;

    @include onTablet {
      text-align: left;
    }
  }

  &__desc_catalog {
    --columns: 4;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    @include onSmall {
      text-align: center;
    }
  }

  &:hover {
    transform: scale(1.05);
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px 0px $gray-20;

    @include onTablet {
      transform: scale(1.01);
    }
  }

  &:hover .image {
    border-radius: 0.5rem;
  }

  &:hover .center {
    opacity: 1;
  }
}

.image_container {
  position: relative;
  display: block;
  width: 100%;
  height: 25rem;
  cursor: pointer;

  @include onDesktop {
    height: 17rem;
  }

  @include onTablet {
    height: 25rem;
  }

  @include onMobile {
    height: 21rem;
  }

  @include onSmall {
    height: 13.5rem;
  }
}

.image_container.image_catalog_container {
  height: 25rem;

  @include onDesktop {
    height: 16.5rem;
  }

  @include onMobile {
    height: 10.5rem;
  }

  @include onSmall {
    height: 13.5rem;
  }
}

.image {
  object-fit: cover;
  transition: border-radius 0.6s ease;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.6s ease;

  @include onTablet {
    display: none;
  }
}

.top_right {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  color: $white;
  text-transform: uppercase;
  line-height: 1.75;
  font-weight: 500;
  padding: 0 1rem;
  background-color: $orange-secondary-100;
  border-radius: 2rem 0.125rem;
}

.price {
  display: block;
  margin: 0.5rem 0;
  grid-column: span 4;

  @include onTablet {
    text-align: left;
  }
}

.loadFavourite {
  position: relative;
  height: rem(20);
  width: rem(20);
  grid-column: span 1;
  grid-row-start: 1;
  grid-column: 4;
  margin: rem(16) rem(16) auto auto;
}

.favourite_icon {
  grid-column: span 1;
  height: rem(20);
  width: rem(20);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4433)'%3E%3Cpath d='M11.5635 5.45863L12.0009 6.24902L12.4384 5.45863C12.9412 4.55028 13.6747 3.79067 14.5649 3.25652C15.451 2.7249 16.461 2.43534 17.494 2.41669C19.1516 2.4926 20.7125 3.21943 21.8376 4.43966C22.9659 5.66351 23.5641 7.2842 23.5013 8.94765L23.5009 8.95707V8.9665C23.5009 11.0755 22.3841 13.3449 20.7084 15.5461C19.0416 17.7355 16.8726 19.7917 14.8796 21.4634L14.8793 21.4637C14.0731 22.1411 13.0539 22.5125 12.0009 22.5125C10.948 22.5125 9.92874 22.1411 9.12261 21.4637L9.12226 21.4634C7.12928 19.7917 4.96025 17.7355 3.29352 15.5461C1.61777 13.3449 0.500935 11.0755 0.500935 8.9665V8.95707L0.500579 8.94765C0.43781 7.2842 1.03595 5.66351 2.16432 4.43966C3.28935 3.21943 4.8503 2.4926 6.50789 2.41669C7.54084 2.43534 8.55088 2.7249 9.43692 3.25652C10.3272 3.79067 11.0607 4.55028 11.5635 5.45863ZM14.238 20.699L14.4159 20.5491V20.5451C16.9223 18.4252 18.9143 16.3371 20.2924 14.4032C21.6902 12.4415 22.4964 10.5825 22.5009 8.98003C22.5726 7.5876 22.0927 6.22279 21.1649 5.18156C20.2341 4.13699 18.928 3.50284 17.5315 3.41744L17.5009 3.41557L17.4704 3.41744C16.0739 3.50284 14.7678 4.13699 13.837 5.18156C12.9098 6.22212 12.4299 7.58586 12.5008 8.97736C12.498 9.10604 12.4457 9.22885 12.3545 9.32006C12.2607 9.41383 12.1335 9.4665 12.0009 9.4665C11.8683 9.4665 11.7411 9.41383 11.6474 9.32006C11.5562 9.22885 11.5038 9.10604 11.5011 8.97736C11.572 7.58586 11.0921 6.22212 10.1649 5.18156C9.23406 4.13699 7.92797 3.50284 6.53146 3.41744L6.50094 3.41557L6.47041 3.41744C5.0739 3.50284 3.76781 4.13699 2.837 5.18156C1.90918 6.22279 1.42927 7.58761 1.50095 8.98004C1.50547 10.5825 2.31167 12.4415 3.70945 14.4036C5.12004 16.3837 7.17384 18.5258 9.76421 20.6992C10.3903 21.2264 11.1825 21.5154 12.0009 21.5154C12.8195 21.5154 13.6118 21.2262 14.238 20.699Z' fill='%23E7801A' stroke='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4433'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    no-repeat center/cover;
  grid-row-start: 1;
  grid-column: 4;
  margin: rem(16) rem(16) auto auto;
  transition: 0.5s ease;

  &:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat center/cover;
  }

  &.added {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat center/cover;
  }
}

.favourite_icon_added {
  grid-column: span 1;
  height: rem(20);
  width: rem(20);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_6544_4130)'%3E%3Cpath d='M17.5009 1.9165C16.3749 1.93402 15.2734 2.24836 14.3077 2.82778C13.342 3.40719 12.5463 4.23117 12.0009 5.2165C11.4556 4.23117 10.6599 3.40719 9.69417 2.82778C8.72848 2.24836 7.62698 1.93402 6.50094 1.9165C4.70588 1.99449 3.01464 2.77976 1.79672 4.10074C0.578794 5.42171 -0.0668157 7.17103 0.000934853 8.9665C0.000934853 13.5135 4.78693 18.4795 8.80093 21.8465C9.69715 22.5996 10.8303 23.0125 12.0009 23.0125C13.1716 23.0125 14.3047 22.5996 15.2009 21.8465C19.2149 18.4795 24.0009 13.5135 24.0009 8.9665C24.0687 7.17103 23.4231 5.42171 22.2052 4.10074C20.9872 2.77976 19.296 1.99449 17.5009 1.9165Z' fill='%23E7801A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6544_4130'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    no-repeat center/cover;
  grid-row-start: 1;
  grid-column: 4;
  margin: rem(16) rem(16) auto auto;
  transition: 0.5s ease;
}

// style for favourite modal popup

.favoriteModal {
  display: flex;
  flex-direction: column;
  top: rem(35);
  width: rem(320);
  min-height: rem(80);
  z-index: 2;
  background-color: $white;
  z-index: 3;
  border-radius: rem(16);

  @include onTablet {
    transform: none;
  }

  @include onSmallMobile {
    right: rem(-15);
    width: rem(310);
  }

  .close {
    cursor: pointer;
  }

  &.open {
    display: flex;
  }

  &__yachts {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    &_yacht {
      position: relative;

      .trash {
        position: absolute;
        top: 50%;
        height: rem(16);
        width: rem(16);
        transform: translateY(-50%);
        right: rem(16);
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4712_5131)'%3E%3Cpath d='M14.0007 2.66667H11.934C11.7793 1.91428 11.3699 1.23823 10.7748 0.752479C10.1798 0.266727 9.43545 0.000969683 8.66732 0L7.33398 0C6.56585 0.000969683 5.82153 0.266727 5.22648 0.752479C4.63144 1.23823 4.22205 1.91428 4.06732 2.66667H2.00065C1.82384 2.66667 1.65427 2.7369 1.52925 2.86193C1.40422 2.98695 1.33398 3.15652 1.33398 3.33333C1.33398 3.51014 1.40422 3.67971 1.52925 3.80474C1.65427 3.92976 1.82384 4 2.00065 4H2.66732V12.6667C2.66838 13.5504 3.01991 14.3976 3.6448 15.0225C4.26969 15.6474 5.11692 15.9989 6.00065 16H10.0007C10.8844 15.9989 11.7316 15.6474 12.3565 15.0225C12.9814 14.3976 13.3329 13.5504 13.334 12.6667V4H14.0007C14.1775 4 14.347 3.92976 14.4721 3.80474C14.5971 3.67971 14.6673 3.51014 14.6673 3.33333C14.6673 3.15652 14.5971 2.98695 14.4721 2.86193C14.347 2.7369 14.1775 2.66667 14.0007 2.66667ZM7.33398 1.33333H8.66732C9.08083 1.33384 9.48407 1.46225 9.82173 1.70096C10.1594 1.93967 10.4149 2.27699 10.5533 2.66667H5.44798C5.58637 2.27699 5.84192 1.93967 6.17958 1.70096C6.51723 1.46225 6.92047 1.33384 7.33398 1.33333ZM12.0007 12.6667C12.0007 13.1971 11.7899 13.7058 11.4149 14.0809C11.0398 14.456 10.5311 14.6667 10.0007 14.6667H6.00065C5.47022 14.6667 4.96151 14.456 4.58644 14.0809C4.21136 13.7058 4.00065 13.1971 4.00065 12.6667V4H12.0007V12.6667Z' fill='%23081433'/%3E%3Cpath d='M6.66667 11.9993C6.84348 11.9993 7.01304 11.9291 7.13807 11.8041C7.26309 11.6791 7.33333 11.5095 7.33333 11.3327V7.33268C7.33333 7.15587 7.26309 6.9863 7.13807 6.86128C7.01304 6.73625 6.84348 6.66602 6.66667 6.66602C6.48985 6.66602 6.32029 6.73625 6.19526 6.86128C6.07024 6.9863 6 7.15587 6 7.33268V11.3327C6 11.5095 6.07024 11.6791 6.19526 11.8041C6.32029 11.9291 6.48985 11.9993 6.66667 11.9993Z' fill='%23081433'/%3E%3Cpath d='M9.33269 11.9993C9.5095 11.9993 9.67907 11.9291 9.80409 11.8041C9.92912 11.6791 9.99936 11.5095 9.99936 11.3327V7.33268C9.99936 7.15587 9.92912 6.9863 9.80409 6.86128C9.67907 6.73625 9.5095 6.66602 9.33269 6.66602C9.15587 6.66602 8.9863 6.73625 8.86128 6.86128C8.73625 6.9863 8.66602 7.15587 8.66602 7.33268V11.3327C8.66602 11.5095 8.73625 11.6791 8.86128 11.8041C8.9863 11.9291 9.15587 11.9993 9.33269 11.9993Z' fill='%23081433'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4712_5131'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
          no-repeat center/cover;
      }

      &__removing {
        position: relative;
        opacity: 0.27;
      }
    }

    .removing {
      opacity: 0.27;
    }

    .card {
      width: 100%;
      display: flex;
      padding: rem(6) rem(16);
      margin-bottom: 0;
      align-items: center;
      gap: rem(8);
      border-top: 1px solid $gray-20;

      &:hover {
        border-radius: 0;
        transform: none;
        box-shadow: none;

        .center {
          opacity: 0;
        }

        img {
          border-radius: 0;
        }
      }

      .image_container {
        width: 100%;
        max-width: rem(88);
        height: rem(88);
        border-radius: rem(4);
        overflow: hidden;

        img {
          position: static;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .center,
        .top_right {
          display: none;
        }
      }

      .favourite_icon {
        display: none;
      }

      .card__desc_catalog {
        display: flex;
        flex-direction: column;

        .price {
          margin-bottom: rem(2);
          margin-top: 0;

          span {
            font-size: rem(14);
            line-height: 1.5;
          }
        }
      }

      &__name {
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.5;
        color: $gray-primary;
        margin-bottom: rem(2);
      }

      &__typo {
        font-size: rem(12);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 0;
        color: $gray-primary;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    &_title {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }

    img {
      margin-left: auto;
    }
  }

  &__bottom {
    width: calc(100% - rem(16));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    a {
      color: $orange-secondary-100;
      font-size: rem(12);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: underline;
    }
  }

  .noYachts {
    font-weight: 500;
    text-align: center;
    color: $gray-primary;
    margin-bottom: 0;
    padding-top: rem(8);
    margin: auto 0;
    position: relative;
    &__underline {
      border-top: rem(1) $gray-20 solid;
    }
  }

  .loading {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(8) 0;
  }

  &__button {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: rem(14) rem(24);
    width: 100%;
    margin: rem(10) auto 0 auto;
    max-width: rem(230);
    border: 1px solid $gray-primary;
    background-color: $gray-primary;
    border-radius: 3.5rem;
    transition: 0.6s ease-in;

    &:hover {
      background-color: #fff;
      border: 1px solid $gray-primary;
      color: $gray-primary;
    }
  }
}
