@import './var.scss';
@import './mixins.scss';

.typo_h1 {
  font-family: var(--font-bEs);
  color: $orange-secondary-100;
  font-size: 12.125rem;
  font-weight: 400;
  line-height: 100%;

  @include onDesktop {
    font-size: 8rem;
  }

  @include onTablet {
    font-size: 6rem;
  }

  @include onSmall {
    font-size: 4rem;
  }
}

.typo_h2 {
  font-family: var(--font-baiJamjuree);
  color: $gray-primary;
  font-size: 8.125rem;
  font-weight: 700;
  line-height: 120%;

  @include onDesktop {
    font-size: 6rem;
  }

  @include onTablet {
    font-size: 4rem;
  }

  @include onSmall {
    font-size: 2.25rem;
  }
}

.typo_h3 {
  color: $white;
  font-family: var(--font-baiJamjuree);
  font-size: 6rem;
  font-weight: 600;

  &_gray {
    color: $gray-primary;
  }

  &_white {
    color: $white;
  }

  @include onDesktop {
    font-size: 4rem;
  }

  @include onTablet {
    font-size: 2.5rem;
  }

  @include onSmall {
    font-size: 1.5rem;
  }
}

.typo_h4 {
  color: $gray-primary;
  font-family: var(--font-baiJamjuree);
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;

  &__white {
    color: $white;
  }

  @include onTablet {
    font-size: 2rem;
  }
}

.typo_h5 {
  color: $orange-secondary-100;
  font-family: var(--font-bEs);
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 30%;
  text-transform: lowercase;

  @include onTablet {
    font-size: 5rem;
  }
}

.typo_uitxt {
  color: $orange-secondary-100;
  font-family: var(--font-bEs);
  font-size: 16rem;
  font-weight: 400;
  line-height: 100%;

  @include onDesktop {
    font-size: 12.5rem;
  }

  @include onTablet {
    font-size: 6.5rem;
  }

  @include onSmall {
    font-size: 3.75rem;
  }
}

.typo_uitxt_secondary {
  color: $orange-secondary-100;
  font-family: var(--font-baiJamjuree);
  font-size: 3rem;
  font-weight: 600;
  line-height: 150%;

  &_gray {
    color: $gray-primary;
  }
}

.typo_product_card_name {
  color: $black;
  font-family: var(--font-baiJamjuree);
  font-size: 2.25rem;
  font-weight: 500;

  @include onDesktop {
    font-size: 1.5rem;
  }
}

.typo_name_yacht {
  color: $black;
  font-family: var(--font-baiJamjuree);
  font-size: 2.25rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;

  &:hover {
    color: $orange-secondary-100;
    text-decoration: underline;
  }

  @include onMobile {
    font-size: 1.5rem;
  }
}

.typo_description {
  font-size: 1.5rem;
  font-weight: 400;

  &_gray {
    color: $gray-100;
  }

  &_black {
    color: $black;
  }

  &_white {
    color: $white;
  }

  @include onTablet {
    font-size: 1rem;
  }
}

.typo_price {
  color: $orange-secondary-100;
  font-size: 2rem;
  font-weight: 500;

  @include onMobile {
    font-size: 1.25rem;
  }
}

.typo_old_price {
  margin-left: 1rem;
  text-decoration-line: line-through;
  font-size: 1.5rem;
  color: $gray-80;
}

.typo_small_txt {
  font-size: 0.75rem;
}
