@import '../../../styles/var.scss';
@import '../../../styles/mixins.scss';

.button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: $gray-primary;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background: transparent;
    border: none;
    color: $gray-primary;
  }

  &::after {
    margin: 0;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../public/icons/Arrowdown.svg') no-repeat center/cover;
  }
}

.menu {
  margin-top: 0.8rem;
  border-radius: 1rem;
}

.item {
  width: auto;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;

  color: $gray-100;
  border-bottom: 1px solid $white;

  &--active {
    color: $black;
    border-bottom-color: $gray-primary;
  }

  &:hover {
    background-color: $white;
    color: $gray-100;
  }

  @include hover(border-bottom-color, $orange-secondary-100);
}